* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 64px;
    padding: 16px 24px;
    width: 100%;
    
}

header ul{
    display: flex;
    width: 70%;
    justify-content: end;
    
}

header ul li {
    list-style: none;
    text-align: center;
    padding-top: 5px;
    padding-left: 16px;
}

header p {
    height: 32px;
    padding-top: 5px;
    font-weight: bold;
    width: 25%;
}

header img {
    width: 5%;
}

.header {
    font-weight: lighter;
}

.banner {
    display: flex;
    width: 100%;
    background-color: lightgrey;
    
    
}

.banner-img {
    width: 60%;
    margin: 32px 24px;
}

.banner-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.banner-img img {
    width: 100%;
}

.banner-text button {
    background-color: gray;
    border: none;
    padding: 8px 85px;
    color: white;
    
}

.banner-text h1, p, button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 10px;
}

.practicing {
    display: flex;
    width: 100%;
}

.practicing .practicing-img {
    width: 60%;
    margin: 32px 24px;
}

.practicing-img img {
    width: 100%;
}

.practicing .practicing-info {
    width: 60%;
    margin: 16px 0;
}

.orientation, .campus, .lecture {
    display: flex;
    width: 100%;
}

.orientation-img, .campus-img, .lecture-img {
    width: 35%;
    margin: 16px 16px;
    

}

.orientation-txt, .campus-txt, .lecture-txt {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 0;
}

.lecture-img img {
    width: 100%;
    height: auto;
}

.orientation-img img {
    width: 100%;
    height: auto;
}

.campus-img img {
    width: 100%;
    height: auto;
}

.lecture {
    background-color: lightgray;
}